---
name: Image
on:
  push:
    branches:
      - main
    paths-ignore:
      - action.yml
      - .github/workflows/image.yml
      - README.md
  workflow_dispatch:
    inputs:
      ref:
        description: "Git ref to build the image from"
        required: false
        default: "main"

concurrency:
  group: image-workflow
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.inputs.ref }}

      - run: >
          echo "IMAGE_TAG=${{ (inputs.ref || github.ref_name) == 'main' &&
          'latest' || (inputs.ref || github.ref_name) }}" >> $GITHUB_ENV

      - name: Build Docker Image
        run: |
          docker build -t fnando/stitch:${{ env.IMAGE_TAG }} .

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Push Docker Image
        run: |
          docker push fnando/stitch:${{ env.IMAGE_TAG }}
